<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        td {
            border: 1px solid;
        }
    </style>
</head>
<body>
    <div style="background-color:lightblue">
        <table style="position:absolute;width:50%;left:25%">
            <tr>
                <td colspan="2" style="text-align:center;font-size:3vmin;padding:10px;">
                    2017年 參與芳苑工業區與學系合作之人才培訓計劃設計作品
                </td>

            </tr>
            <tr>
                <td>
                    <img src="static/3D_work1.png" style="width:80%;position:relative;left:10%" />
                </td>
                <td>
                    <img src="static/3D_work2.png" style="width: 80%; position: relative; left: 10%;padding:10px" />
                </td>
            </tr>
            <!-- ======================================================================================================== -->
            <tr>
                <td colspan="2" style="text-align:center;font-size:3vmin;padding:10px;">
                    2018年 代表工業工程學系赴香港參加香港國際發明展作品
                </td>

            </tr>

            <tr>
                <td>
                    <img src="static/3D_work3.png" style="width:80%;position:relative;left:10%" />
                </td>
                <td>
                    <img src="static/3D_work4.png" style="width: 80%; position: relative; left: 10%;padding:10px" />
                </td>
            </tr>
            <!-- ======================================================================================================== -->
            <tr>
                <td colspan="2" style="text-align:center;font-size:3vmin;padding:10px;">
                    2020 論文設計電鍍產品檢測平台
                </td>

            </tr>

            <tr>
                <td>
                    <img src="static/3D_work5.png" style="width:80%;position:relative;left:10%" />
                </td>
                <td>
                    <img src="static/3D_work6.png" style="width: 80%; position: relative; left: 10%;padding:10px" />
                </td>
            </tr>
        </table>

    </div>
</body>
</html>