<html>
<head>
  <title>Bootstrap Navigation Bar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  	<script src="static/jquery-3.4.1.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <link href="static/bootstrap.css" rel="stylesheet">
    <link href="static/bootstrap.min.css" rel="stylesheet">
  <style>
       body{ 
           padding: 70px;
           position:relative;
       }
    </style>
	<script>
    $(function(){
      $("body").load("php_demo");
    });
    </script>
</head>
<body data-target="#navbar-spy" data-spy="scroll" >

<div id="menu_bar">
	
	</div>
</body>
</html>