<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>即時畫面</title>
    <script src="static/jquery-3.4.1.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <link href="static/bootstrap.css" rel="stylesheet">
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <script>
        function redd(){
            $.get("https://lazyjimapp.herokuapp.com/RealTime", function (data) {
                for(var i =0;i<4;i++){
                    var divs_sin = document.getElementsByClassName('plc_area_1')[i].childNodes[16];
                    var divs_dou = document.getElementsByClassName('plc_area_1')[i].childNodes[20];

                    for(var sin = 0;sin < divs_sin.childNodes.length;sin++){
                        if(divs_sin.childNodes[sin].nodeName == "DIV"){
                            divs_sin.childNodes[sin].childNodes[3].value = data[0][divs_sin.childNodes[sin].childNodes[1].innerHTML];
                            //console.log(divs_sin.childNodes[sin].childNodes[1].innerHTML);
                        }
                    }

                    for(var dou = 0;dou < divs_dou.childNodes.length;dou++){
                        if(divs_dou.childNodes[dou].nodeName == "DIV"){
                            divs_dou.childNodes[dou].childNodes[3].value = data[0][divs_dou.childNodes[dou].childNodes[1].innerHTML][1]
                            //console.log(divs_sin.childNodes[sin].childNodes[1].innerHTML);
                        }
                    }
                    
                }
                // console.log(data[0]['D495']);
            })
        }
     const local_ip = "{{title}}";
        var class_div2 = 0;
      var class_div3 = 0;
      var class_div4 = 0;
      $(document).ready(function(){
          setInterval(redd,1000);
        // redd();
        $.get("https://lazyjimapp.herokuapp.com/FX5U_SQL", function (data) {
            if(data != 'None'){
                if(data[0].PLC1[0].IP_address != "undefined"){
                    class_div2 = 1;
                    var div1 = document.getElementsByClassName('plc_area_1')[1];
                    div1.style.background = null;
                    var d = document.getElementsByClassName('plc_area_1')[0].cloneNode(true);
                    for(var lend = 0;lend<d.childNodes.length;lend ++){
                        //在div中生成元素
                        div1.appendChild(d.childNodes[lend].cloneNode(true));
                    }
                    //在div內容都生成完成後，在餵入資料

                    //=============================================================     Ajax 資料內容    ======================================
                    var jaon_data =  data[0].PLC1[0];
                    div1.querySelector('#plc_address').value = jaon_data.IP_address;
                    //1.先生成jSON格式中 Single數量
                    for(var single = 0;single <jaon_data.single_num;single++ ){
                        div1.querySelector('#add_single').click();
                    }
                    //2.生成jSON格式中 Double數量
                    for(var single = 0;single <jaon_data.double_num;single++ ){
                        div1.querySelector('#add_double').click();
                    }
                    //3.將jSON格式中的Single位址UPDATE上去
                    for(var single =0;single <jaon_data.single_num;single++ ){
                        var div_single_set =div1.querySelector('#single_set').querySelector('#panel_sin'+(single+1));
                        div_single_set.querySelector('input').value= jaon_data.single_address[single].split(":")[0];
                        div_single_set.querySelector('select').value = jaon_data.single_address[single].split(":")[1];
                        div_single_set.querySelector('p').innerHTML = div_single_set.querySelector('select').value + div_single_set.querySelector('input').value;

                    }
                    //4.將jSON格式中的Double位址UPDATE上去
                    for(var double =0;double <jaon_data.double_num;double++ ){
                        var div_double_set = div1.querySelector('#double_set').querySelector('#panel_dou'+(double+1));
                        div_double_set.querySelector('input').value= jaon_data.double_address[double].split(":")[0];
                        div_double_set.querySelector('select').value = jaon_data.double_address[double].split(":")[1];
                        div_double_set.querySelector('p').innerHTML = div_double_set.querySelector('select').value + div_double_set.querySelector('input').value;
                        //取得判斷是否為浮點或Double word
                        if(jaon_data.double_address[double].split(":")[2] == "f"){
                            div_double_set.querySelector('.text').innerHTML = "F";
                            div_double_set.querySelector('.checkbox').checked = false;


                        }else{
                            div_double_set.querySelector('.text').innerHTML = "DB";
                            div_double_set.querySelector('.checkbox').checked = true;
                        }
                        //console.log( div_double_set.querySelector('select').value);

                    }
                }
                if(data[0].PLC2[0].IP_address != "undefined"){
                    class_div3 = 1;
                    var div1 = document.getElementsByClassName('plc_area_1')[2];
                    div1.style.background = null;
                    var d = document.getElementsByClassName('plc_area_1')[0].cloneNode(true);

                    for(var lend = 0;lend<d.childNodes.length;lend ++){
                        //在div中生成元素
                        div1.appendChild(d.childNodes[lend].cloneNode(true));
                    }

                    //=============================================================     Ajax 資料內容    ======================================
                    var jaon_data =  data[0].PLC2[0];
                    div1.querySelector('#plc_address').value = jaon_data.IP_address;
                    //1.先生成jSON格式中 Single數量
                    for(var single = 0;single <jaon_data.single_num;single++ ){
                        div1.querySelector('#add_single').click();
                    }
                    //2.生成jSON格式中 Double數量
                    for(var single = 0;single <jaon_data.double_num;single++ ){
                        div1.querySelector('#add_double').click();
                    }
                    //3.將jSON格式中的Single位址UPDATE上去
                    for(var single =0;single <jaon_data.single_num;single++ ){
                        var div_single_set =div1.querySelector('#single_set').querySelector('#panel_sin'+(single+1));
                        div_single_set.querySelector('input').value= jaon_data.single_address[single].split(":")[0];
                        div_single_set.querySelector('select').value = jaon_data.single_address[single].split(":")[1];
                        div_single_set.querySelector('p').innerHTML = div_single_set.querySelector('select').value + div_single_set.querySelector('input').value;

                    }
                    //4.將jSON格式中的Double位址UPDATE上去
                    for(var double =0;double <jaon_data.double_num;double++ ){
                        var div_double_set = div1.querySelector('#double_set').querySelector('#panel_dou'+(double+1));
                        div_double_set.querySelector('input').value= jaon_data.double_address[double].split(":")[0];
                        div_double_set.querySelector('select').value = jaon_data.double_address[double].split(":")[1];
                        div_double_set.querySelector('p').innerHTML = div_double_set.querySelector('select').value + div_double_set.querySelector('input').value;
                        //取得判斷是否為浮點或Double word
                        if(jaon_data.double_address[double].split(":")[2] == "f"){
                            div_double_set.querySelector('.text').innerHTML = "F";
                            div_double_set.querySelector('.checkbox').checked = false;


                        }else{
                            div_double_set.querySelector('.text').innerHTML = "DB";
                            div_double_set.querySelector('.checkbox').checked = true;
                        }

                    }
                }
                if(data[0].PLC3[0].IP_address != "undefined"){
                    class_div4 = 1;
                    var div1 = document.getElementsByClassName('plc_area_1')[3];
                    div1.style.background = null;
                    var d = document.getElementsByClassName('plc_area_1')[0].cloneNode(true);
                    for(var lend = 0;lend<d.childNodes.length;lend ++){
                        //在div中生成元素
                        div1.appendChild(d.childNodes[lend].cloneNode(true));
                    }

                    //=============================================================     Ajax 資料內容    ======================================
                    var jaon_data =  data[0].PLC3[0];
                    div1.querySelector('#plc_address').value = jaon_data.IP_address;
                    //1.先生成jSON格式中 Single數量
                    for(var single = 0;single <jaon_data.single_num;single++ ){
                        div1.querySelector('#add_single').click();
                    }
                    //2.生成jSON格式中 Double數量
                    for(var single = 0;single <jaon_data.double_num;single++ ){
                        div1.querySelector('#add_double').click();
                    }
                    //3.將jSON格式中的Single位址UPDATE上去
                    for(var single =0;single <jaon_data.single_num;single++ ){
                        var div_single_set =div1.querySelector('#single_set').querySelector('#panel_sin'+(single+1));
                        div_single_set.querySelector('input').value= jaon_data.single_address[single].split(":")[0];
                        div_single_set.querySelector('select').value = jaon_data.single_address[single].split(":")[1];
                        div_single_set.querySelector('p').innerHTML = div_single_set.querySelector('select').value + div_single_set.querySelector('input').value;

                    }
                    //4.將jSON格式中的Double位址UPDATE上去
                    for(var double =0;double <jaon_data.double_num;double++ ){
                        var div_double_set = div1.querySelector('#double_set').querySelector('#panel_dou'+(double+1));
                        div_double_set.querySelector('input').value= jaon_data.double_address[double].split(":")[0];
                        div_double_set.querySelector('select').value = jaon_data.double_address[double].split(":")[1];
                        div_double_set.querySelector('p').innerHTML = div_double_set.querySelector('select').value + div_double_set.querySelector('input').value;
                        //取得判斷是否為浮點或Double word
                        if(jaon_data.double_address[double].split(":")[2] == "f"){
                            div_double_set.querySelector('.text').innerHTML = "F";
                            div_double_set.querySelector('.checkbox').checked = false;


                        }else{
                            div_double_set.querySelector('.text').innerHTML = "DB";
                            div_double_set.querySelector('.checkbox').checked = true;
                        }

                    }

                }

                if(data[0].PLC0[0].IP_address != "undefined"){
                    var jaon_data =  data[0].PLC0[0];
                    document.getElementsByClassName('plc_area_1')[0].querySelector('#plc_address').value = jaon_data.IP_address;
                    //1.先生成jSON格式中 Single數量
                    for(var single = 0;single <jaon_data.single_num;single++ ){
                        document.getElementsByClassName('plc_area_1')[0].querySelector('#add_single').click();
                    }
                    //2.生成jSON格式中 Double數量
                    for(var single = 0;single <jaon_data.double_num;single++ ){
                        document.getElementsByClassName('plc_area_1')[0].querySelector('#add_double').click();
                    }
                    //3.將jSON格式中的Single位址UPDATE上去
                    for(var single =0;single <jaon_data.single_num;single++ ){
                        var div_single_set = document.getElementsByClassName('plc_area_1')[0].querySelector('#single_set').querySelector('#panel_sin'+(single+1));
                        div_single_set.querySelector('input').value= jaon_data.single_address[single].split(":")[0];
                        div_single_set.querySelector('select').value = jaon_data.single_address[single].split(":")[1];
                        div_single_set.querySelector('p').innerHTML = div_single_set.querySelector('select').value + div_single_set.querySelector('input').value;
                        //console.log( div_single_set.querySelector('select').value);

                    }
                    //4.將jSON格式中的Double位址UPDATE上去
                    for(var double =0;double <jaon_data.double_num;double++ ){
                        var div_double_set = document.getElementsByClassName('plc_area_1')[0].querySelector('#double_set').querySelector('#panel_dou'+(double+1));
                        div_double_set.querySelector('input').value= jaon_data.double_address[double].split(":")[0];
                        div_double_set.querySelector('select').value = jaon_data.double_address[double].split(":")[1];
                        div_double_set.querySelector('p').innerHTML = div_double_set.querySelector('select').value + div_double_set.querySelector('input').value;
                        //取得判斷是否為浮點或Double word
                        if(jaon_data.double_address[double].split(":")[2] == "f"){
                            div_double_set.querySelector('.text').innerHTML = "F";
                            div_double_set.querySelector('.checkbox').checked = false;

                        }else{
                            div_double_set.querySelector('.text').innerHTML = "DB";
                            div_double_set.querySelector('.checkbox').checked = true;
                        }
                    }
                }
            }
        });
      })


    var sin_count = 0;
    var dou_count = 0;
	function add_sin(e)
	{
        //console.log(e.parentElement.getAttribute('id'));
        sin_count  = e.parentElement.querySelector('#txt_1').value;
        sin_count ++;
        var panel1 = document.createElement('div');
        var texts = document.createElement('input');
        var pxt = document.createElement('p');
        var select_box = document.createElement('select');
        var select_val = document.createElement('option');
        var btn_delete = document.createElement('button');
        select_val.value = "D";
        select_val.text = "D";
        select_box.add(select_val);

        select_val = document.createElement('option');
        select_val.value = "M";
        select_val.text = "M";
        select_box.add(select_val);


        select_val = document.createElement('option');
        select_val.value = "X";
        select_val.text = "X";
        select_box.width="20%";

        select_box.add(select_val);

        pxt.id = "Single";
        pxt.style.display = "inline";
        pxt.innerHTML = "Single位址 : ";
        btn_delete.id = "btndelete";
        btn_delete.innerHTML = "刪除";
        btn_delete.style.width = "20%";
        panel1.appendChild(document.createElement('br'));
        panel1.appendChild(pxt);
        panel1.appendChild(document.createElement('br'));
        panel1.appendChild(texts);
        panel1.appendChild(select_box);
        panel1.appendChild(btn_delete);

        panel1.id = 'panel_sin'+sin_count;
        panel1.draggable = true;

        e.parentElement.querySelector('#single_set').appendChild(panel1);
        e.parentElement.querySelector('#txt_1').value = sin_count;
        btn_delete.addEventListener('click',function(){
            if(this.parentElement.querySelector('input').value != ''){
                var yes = confirm('確定刪除?');
               }
                //如果確定或輸入欄為空
               if(yes || this.parentElement.querySelector('input').value == ''){
                sin_count --;
                e.parentElement.querySelector('#txt_1').value = sin_count;
                document.querySelector('#single_set #'+panel1.id).remove();
               }
               //如果確定
               else if(yes){
                sin_count --;
                e.parentElement.querySelector('#txt_1').value = sin_count;
                document.querySelector('#single_set #'+panel1.id).remove();
               }

        });

	}

	function add_dou(e)
	{
        dou_count  = e.parentElement.querySelector('#txt_2').value;
        dou_count ++;
        var panel1 = document.createElement('div');
        var texts = document.createElement('input');
        var pxt = document.createElement('p');
        var select_box = document.createElement('select');
        var select_val = document.createElement('option');
        var btn_delete = document.createElement('button');
        //======================================================
        select_val.value = "D";
        select_val.text = "D";
        select_box.add(select_val);


        select_val = document.createElement('option');
        select_val.value = "M";
        select_val.text = "M";
        select_box.add(select_val);


        select_val = document.createElement('option');
        select_val.value = "X";
        select_val.text = "X";
        select_box.add(select_val);

        btn_delete.id = "btndelete";
        btn_delete.innerHTML = "刪除";
        btn_delete.style.width = "20%";
        //================================  Switch切換按鈕   ======================
        var checkarea = document.createElement('label');
        var checkbtn = document.createElement('input');
        var btn_box = document.createElement('span');
        var btn = document.createElement('span');
        var text_on_off = document.createElement('span');

        checkbtn.type = 'checkbox';
        checkbtn.className = 'checkbox';

        btn_box.className = "btn-box";
        btn.className = "btn";
        btn_box.appendChild(btn);

        text_on_off.className="text";
        text_on_off.innerHTML = "F"

        checkarea.appendChild(checkbtn);
        checkarea.appendChild(btn_box);
        //checkarea.appendChild(text_on_off);

         //================================  輸入至Panel區塊   ======================

        pxt.id = "Double";
        pxt.style.display = "inline";
        pxt.innerHTML = "Double位址 : ";
        panel1.appendChild(document.createElement('br'));
        panel1.appendChild(pxt);
        panel1.appendChild(document.createElement('br'));
        panel1.appendChild(texts);
        panel1.appendChild(select_box);
        panel1.appendChild(checkarea);
        panel1.appendChild(text_on_off);
        panel1.appendChild(btn_delete);

        panel1.id = 'panel_dou'+dou_count;
        // panel1.style.display = "flex";
        e.parentElement.querySelector('#double_set').appendChild(panel1);
        e.parentElement.querySelector('#txt_2').value = dou_count;

        checkbtn.addEventListener('click',function() {
            console.log(this.checked);
        if(this.checked == true){
            text_on_off.innerHTML="DB"
        }else{
            text_on_off.innerHTML="F"
        }
        })


        btn_delete.addEventListener('click',function(){
           //document.querySelector('#single_set').remove(document.querySelector('#single_set #'+panel1.id))
           //alert(e.parentElement.id);

           if(this.parentElement.querySelector('input').value != ''){
            var yes = confirm('確定刪除?');
           }

           if(yes || this.parentElement.querySelector('input').value == ''){
            dou_count --;
            e.parentElement.querySelector('#txt_2').value = dou_count;
            document.querySelector('#double_set #'+panel1.id).remove();
           }
           else if(yes){
            dou_count --;
            e.parentElement.querySelector('#txt_2').value = dou_count;
            document.querySelector('#double_set #'+panel1.id).remove();
           }

        });


	}
    </script>
    <style>
        select,label,span,button{
            display: none;
        }
    </style>
</head>
<body>
<div class="row">
        <div class="col-md-5 col-md-offset-1 col-xs-12 plc_area_1"  id="pl1" style="display:inline;">
            PLC位址 : <input id="plc_address" name='plc_address' placeholder="192.168.3.250"  style="width: 50%;" />
            <button onclick="clear_div(this)">清除</button>
            <button onclick="close_div(this)">刪除</button>
            <br/>
            Single數量&nbsp;&nbsp; :&nbsp; <input id="txt_1" value="0" /><button id="add_single" onclick="add_sin(this)">+</button><br/>
            Double數量 :&nbsp;&nbsp;<input id="txt_2" value="0" /><button id="add_double" onclick="add_dou(this)">+</button>
             <div id="single_set">
                 Single位址<br>
             </div>
             <br/>
             <div id="double_set">
                 Double位址<br>
             </div>

         </div>

         <div class="col-md-5 col-xs-12 plc_area_1" id="pl2" style="display:inline;">


          </div>

          <div class="col-md-5 col-md-offset-1 col-xs-12 plc_area_1" id="pl3" style="display:inline;">


         </div>

         <div class="col-md-5 col-xs-12 plc_area_1" id="pl4" style="display:inline;">


         </div>
    </div>

</body>
</html>